body {
    background-color:gray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

*{
    margin:0;
    padding:0;
    border:0;

}

a{
    text-decoration:none;
    color: #555;
}
a:hover {
    text-decoration: none;
    color: #999;
}

#wrapper{

    width:960px;
    height:auto;
    margin:0 auto;
    background-color:darkgray;


}

 

header{
    float: left;
    width: 100%;
    height:45px;
    background-color: white ;
}

header .logo{
    float:left;
    width:89px;
    height:45px;
    border-right:1px solid #ff0000;
    background-color:white;
    text-align:center;
    line-height:45px;
    color:#990000;
}

header nav{
    float:left;
    width:609px;
    height:45px;
    border-right:1px solid #ff0000;
    background-color:white;
    line-height:45px;

}
    header nav ul{
        list-style:none;

    }
    
        header nav ul li{
            float:left;
            margin:0 10px;
            color:#555;
            cursor:default;
    }
            header nav ul li.konular-wrap{
                position:relative;
            }

                header nav ul li.konular-wrap .konular{
                    display:none;
                    position:absolute;
                    background-color:ghostwhite;
                    width:auto;
                    color:black;

                }


            header .arama-wrap {
                float: left;
                width: 260px;
                height: 45px;
            }

            header .arama-wrap .txtArama {
                float: left;
                width: 190px;
                padding:10px;
                height: 25px;
                border-right:1px solid #ff0000;
            }

        header .arama-wrap .btnArama {
            float: left;
            width: 49px;
            height: 45px;
            
            }

        

.banner {
    float: left;
    margin-top: 45px;
    width: 960px;
    height: 360px;
    background: #fff;
    line-height: 360px;
    text-align: center;
    font-size: 56px;
    color: #fff;
    background-image: url('/images/renk.jpg');
    background-size: cover;
}

.icerik {
    float: right;
    width: 650px;
    height: auto;
    background-color: #fff;
    margin-top: 45px;
}




.sol-taraf{
    float:left;
    width:285px;
    height:auto;
    margin-top:45px;

}
    .sol-taraf .hizli-kayit {
        float: left;
        width: 285px;
        height: auto;
    }
        .sol-taraf .hizli-kayit .ust {
            float: left;
            width: 270px;
            height: 44px;
            line-height:44px;
            padding-left:15px;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color:#555;

        }
        .sol-taraf .hizli-kayit .alt {
            float: left;
            width: 250px;
            padding:17.5px;
            height: 190px;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color:#555;
        }
        .sol-taraf .hizli-kayit .alt .sifre{
            margin-top:15px;
        }

            .sol-taraf .hizli-kayit .alt .textbox{
                width:248px;
                height:38px;
                border:1px solid #ccc;

            }
            .sol-taraf .hizli-kayit .alt .btnKayit{
                float:left;
                width:100px;
                height:40px;
                line-height:40px;
                text-align:center;
                color:#fff;
                cursor:pointer;
                background-color:#1b658f;
                margin-top:10px;

            }
            .sol-taraf .hizli-kayit .alt .btnKayit:hover {
                background-color: #12ceab;
            }


            .sol-taraf .hizli-kayit .alt .btnGiris {
                float: right;
                width: 100px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color: #fff;
                cursor:pointer;
                background-color: #1b658f;
                margin-top: 10px;
            }
            .sol-taraf .hizli-kayit .alt .btnGiris:hover{
                background-color: #12ceab;
               
            }
            .pnlKullanici {
                width:250px;
                background-color:#fff;
                padding:15px;

            }
            
            .KullaniciCikis{
                margin-top:10px;
                background-color:white;
                color:#0099CC;
                cursor:pointer;
            }




    .sol-taraf .duyurular {
        float: left;
        width: 285px;
        height: auto;
        margin-top: 45px;
        background-color: #fff;
    }
        .sol-taraf .duyurular .ust {
            float: left;
            width: 270px;
            height: 44px;
            line-height: 44px;
            padding-left: 15px;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color: #555;
        }

        .sol-taraf .duyurular .alt {
            float: left;
            width: 250px;
            padding: 17.5px;
            height: auto;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            color: #555;
        }

            .sol-taraf .duyurular .alt .duyuru-wrap{
                float:left;
                width:100%;
                height:auto;
                background-color:#fff;
                margin: 10px 0;
                
            }
            .sol-taraf .duyurular .alt .duyuru-wrap:hover{
                background-color:#d5d5d5;

            }

            footer{
                float: left;
                width: 100%;
                height:60px;
                margin-top:45px;
                background-color:#fff;
                text-align:center;
                line-height:60px;
                color:lightgrey;
 }




